<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some form I made</title>
</head>
<body>

<h1>TEST FORM HERE</h1>

<form action = "{{url_for('login')}}" method="post" target="blank">
    <label>First name: </label>
    <input type="text" placeholder="name here" name="username">
    <label>Password: </label>
    <input type="password" placeholder="password here" name="password">

    <input type="submit" value="Submit button">
</form>

<!--<label>Name: </label>-->
<!--<input type="text" name="yourName" placeholder="name" ><br>-->

<!--<label>Password: </label>-->
<!--<input type="password" name="password" placeholder="password"><br>-->

<!--<button type="Submit">OK</button>-->




</body>
</html>